/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.p-datatable-thead	{
  display: none;
}
.p-datatable-tbody tr td{
  padding: 0 !important;
  margin: 0;
  border: none !important;
}